# Car Price Prediction::

Download dataset from this link:

https://www.kaggle.com/hellbuoy/car-price-prediction

# Problem Statement::

A Chinese automobile company Geely Auto aspires to enter the US market by setting up their manufacturing unit there and producing cars locally to give competition to their US and European counterparts.

They have contracted an automobile consulting company to understand the factors on which the pricing of cars depends. Specifically, they want to understand the factors affecting the pricing of cars in the American market, since those may be very different from the Chinese market. The company wants to know:

Which variables are significant in predicting the price of a car
How well those variables describe the price of a car
Based on various market surveys, the consulting firm has gathered a large data set of different types of cars across the America market.

# task::
We are required to model the price of cars with the available independent variables. It will be used by the management to understand how exactly the prices vary with the independent variables. They can accordingly manipulate the design of the cars, the business strategy etc. to meet certain price levels. Further, the model will be a good way for management to understand the pricing dynamics of a new market.

# WORKFLOW ::

1.Load Data

2.Check Missing Values ( If Exist ; Fill each record with mean of its feature )

3.Split into 50% Training(Samples,Labels) , 30% Test(Samples,Labels) and 20% Validation Data(Samples,Labels).

4.Model : input Layer (No. of features ), 3 hidden layers including 10,8,6 unit & Output Layer with activation function relu/tanh (check by experiment).

5.Compilation Step (Note : Its a Regression problem , select loss , metrics according to it)
6.Train the Model with Epochs (100) and validate it

7.If the model gets overfit tune your model by changing the units , No. of layers , activation function , epochs , add dropout layer or add Regularizer according to the need .

8.Evaluation Step

9.Prediction

In [35]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

from sklearn.compose import make_column_transformer
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
from sklearn.model_selection import cross_val_score

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [36]:
df = pd.read_csv("C:\\Users\\meesn\\workspace\\piaic 3rd assignment\\Car Price Prediction\\CarPrice_Assignment.csv")
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [37]:
df.shape

(205, 26)

In [38]:
df.isna().sum()

car_ID              0
symboling           0
CarName             0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

**No Missing Values**

In [39]:
del df['car_ID']
del df['CarName']
df.head()

,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,carwidth,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [40]:
df.columns

Index(['symboling', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'enginelocation', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize',
       'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'horsepower',
       'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

### For Encoding Part

In [41]:
df.dtypes

symboling             int64
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [42]:
categotical_fet = [i for i in df.columns if df.dtypes[i]=='object']

In [43]:
categotical_fet

['fueltype',
 'aspiration',
 'doornumber',
 'carbody',
 'drivewheel',
 'enginelocation',
 'enginetype',
 'cylindernumber',
 'fuelsystem']

#### For Converting all of the columns that are 2 Category based:

In [44]:
#for fuel, the colum have 2 categories ['gas', 'diesel'], converting them into int
df['fueltype'].unique()
processed_df = df.copy()

processed_df.fueltype = df.fueltype.apply(lambda x: 1 if x == 'gas' else 0)
processed_df.fueltype.unique() 
#1 = gass, 0 = diesel

array([1, 0], dtype=int64)

In [45]:
#for fuel, the colum have 2 categories ['std', 'turbo'], converting them into int
df['aspiration'].unique()

processed_df.aspiration = processed_df.aspiration.apply(lambda x: 1 if x == 'std' else 0)
processed_df.aspiration.unique()
#1 = std, 0 = turbo

array([1, 0], dtype=int64)

In [46]:
#for fuel, the colum have 2 categories ['two', 'four'], converting them into int
df['doornumber'].unique()

processed_df.doornumber = processed_df.doornumber.apply(lambda x: 1 if x == 'four' else 0)
processed_df.doornumber.unique()
#1 = four, 0 = two

array([0, 1], dtype=int64)

In [47]:
#for fuel, the colum have 2 categories ['front', 'rear'], converting them into int
df['enginelocation'].unique()

processed_df.enginelocation = processed_df.enginelocation.apply(lambda x: 1 if x == 'front' else 0)
processed_df.enginelocation.unique()
#1 = front, 0 = rear

array([1, 0], dtype=int64)

In [48]:
#for enginetype, the colum have 7 categories ['dohc', 'ohcv', 'ohc', 'l', 'rotor', 'ohcf', 'dohcv']
#but, the OHC stand for "OverHead Cam", So, we here care about is whether or not the engine is 
#an OHC or not. 

processed_df.enginetype = processed_df.enginetype.apply(lambda x: 1 if 'ohc' in x else 0)
processed_df.enginetype.unique()
processed_df.enginetype.value_counts()
#1 = OHC, 0 = not OHC

1    189
0     16
Name: enginetype, dtype: int64

#### For converting the cylander string number to integer numbers

In [49]:
def text2int(textnum, numwords={}):
    if not numwords:
      units = [
        "zero", "one", "two", "three", "four", "five", "six", "seven", "eight",
        "nine", "ten", "eleven", "twelve", "thirteen", "fourteen", "fifteen",
        "sixteen", "seventeen", "eighteen", "nineteen",
      ]

      tens = ["", "", "twenty", "thirty", "forty", "fifty", "sixty", "seventy", "eighty", "ninety"]

      scales = ["hundred", "thousand", "million", "billion", "trillion"]

      numwords["and"] = (1, 0)
      for idx, word in enumerate(units):    numwords[word] = (1, idx)
      for idx, word in enumerate(tens):     numwords[word] = (1, idx * 10)
      for idx, word in enumerate(scales):   numwords[word] = (10 ** (idx * 3 or 2), 0)

    current = result = 0
    for word in textnum.split():
        if word not in numwords:
          raise Exception("Illegal word: " + word)

        scale, increment = numwords[word]
        current = current * scale + increment
        if scale > 100:
            result += current
            current = 0

    return result + current

In [50]:
#for cylindernumber, converting the numbers ['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'] 
#to their equalivalent, in integers
processed_df['cylindernumber'].unique()

processed_df.cylindernumber = processed_df.cylindernumber.apply(lambda x: text2int(x) )
processed_df.cylindernumber.unique()

array([ 4,  6,  5,  3, 12,  2,  8], dtype=int64)

#### For One Hot Encoding based

In [51]:
#for carbody, the colum have 5 categories ['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop']
oe_style = OneHotEncoder()
oe_results = oe_style.fit_transform(processed_df[['carbody']])

#we have to do this other wise, column name will contains syntax like
#(etcName,), So this will give proper name to column like etcName
names = np.asarray(oe_style.categories_)[0]

#for adding the newly created one hot encoded columns and removing the un-nessary one

processed_df = processed_df.join(pd.DataFrame(oe_results.toarray(), columns=names))
processed_df.drop('carbody', inplace=True, axis=1) #no use now

In [52]:
#for drivewheel, the colum have 3 categories ['rwd', 'fwd', '4wd']
oe_style = OneHotEncoder()
oe_results = oe_style.fit_transform(processed_df[['drivewheel']])

#we have to do this other wise, column name will contains syntax like
#(etcName,), So this will give proper name to column like etcName
names = np.asarray(oe_style.categories_)[0,]

#for adding the newly created one hot encoded columns and removing the un-nessary one
processed_df = processed_df.join(pd.DataFrame(oe_results.toarray(), columns=names))
processed_df.drop('drivewheel', inplace=True, axis=1) #no use now

In [53]:
#for fuelsystem, the colum have 8 categories, ['mpfi', '2bbl', 'mfi', '1bbl', 'spfi', '4bbl', 'idi', 'spdi']
oe_style = OneHotEncoder()
oe_results = oe_style.fit_transform(processed_df[['fuelsystem']])

#we have to do this other wise, column name will contains syntax like
#(etcName,), So this will give proper name to column like etcName
names = np.asarray(oe_style.categories_)[0,]

#for adding the newly created one hot encoded columns and removing the un-nessary one
processed_df = processed_df.join(pd.DataFrame(oe_results.toarray(), columns=names))
processed_df.drop('fuelsystem', inplace=True, axis=1) #no use now

In [54]:
processed_df.head()

,symboling,fueltype,aspiration,doornumber,enginelocation,wheelbase,carlength,carwidth,carheight,curbweight,...,fwd,rwd,1bbl,2bbl,4bbl,idi,mfi,mpfi,spdi,spfi
0,3,1,1,0,1,88.6,168.8,64.1,48.8,2548,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,3,1,1,0,1,88.6,168.8,64.1,48.8,2548,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1,1,1,0,1,94.5,171.2,65.5,52.4,2823,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2,1,1,1,1,99.8,176.6,66.2,54.3,2337,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2,1,1,1,1,99.4,176.6,66.4,54.3,2824,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

### for Train-Test Split

In [55]:
y = processed_df['price']
processed_df.drop('price', inplace=True, axis=1)

X = processed_df.copy()

In [56]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)
# X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.5, random_state=1)

In [57]:
X_train.shape

(164, 36)

### Neuro Network

In [58]:
model = Sequential()
model.add(Dense(36, activation='relu'))
model.add(Dense(72, activation='relu'))
model.add(Dense(36, activation='relu'))
model.add(Dense(18, activation='relu'))
model.add(Dense(1))

In [59]:
model.compile('Adam', loss='mse', metrics='mae')

In [60]:
model.fit(X_train, y_train, epochs=100, verbose=1)

Epoch 1/100
6/6 [==============================] - 1s 3ms/step - loss: 251114646.8571 - mae: 13641.1318
Epoch 2/100
6/6 [==============================] - 0s 2ms/step - loss: 240249465.1429 - mae: 13192.2687
Epoch 3/100
6/6 [==============================] - 0s 3ms/step - loss: 264019808.0000 - mae: 13639.9936
Epoch 4/100
6/6 [==============================] - 0s 2ms/step - loss: 216382665.1429 - mae: 12394.6674
Epoch 5/100
6/6 [==============================] - 0s 3ms/step - loss: 198438288.0000 - mae: 12010.3135
Epoch 6/100
6/6 [==============================] - 0s 2ms/step - loss: 195793220.5714 - mae: 11846.9466
Epoch 7/100
6/6 [==============================] - 0s 3ms/step - loss: 175600728.0000 - mae: 10597.2150
Epoch 8/100
6/6 [==============================] - 0s 3ms/step - loss: 161762934.8571 - mae: 9970.4125
Epoch 9/100
6/6 [==============================] - 0s 2ms/step - loss: 128797713.1429 - mae: 8315.5033
Epoch 10/100
6/6 [==============================] - 0s 2ms/step - loss: 93388313.1429 - mae: 6460.1348
Epoch 11/100
6/6 [==============================] - 0s 2ms/step - loss: 85492537.1429 - mae: 5756.0735
Epoch 12/100
6/6 [==============================] - 0s 2ms/step - loss: 54479664.0000 - mae: 5056.7104
Epoch 13/100
6/6 [==============================] - 0s 3ms/step - loss: 50499685.1429 - mae: 5587.8963
Epoch 14/100
6/6 [==============================] - 0s 3ms/step - loss: 62871314.8571 - mae: 6159.5416
Epoch 15/100
6/6 [==============================] - 0s 3ms/step - loss: 50816709.4286 - mae: 5642.2634
Epoch 16/100
6/6 [==============================] - 0s 3ms/step - loss: 50230223.4286 - mae: 5588.5982
Epoch 17/100
6/6 [==============================] - 0s 2ms/step - loss: 56407286.2857 - mae: 5539.2041
Epoch 18/100
6/6 [==============================] - 0s 3ms/step - loss: 51718859.4286 - mae: 5210.4254
Epoch 19/100
6/6 [==============================] - 0s 2ms/step - loss: 50203900.0000 - mae: 5151.8018
Epoch 20/100
6/6 [==============================] - 0s 2ms/step - loss: 56192217.1429 - mae: 5408.3620
Epoch 21/100
6/6 [==============================] - 0s 2ms/step - loss: 56439466.2857 - mae: 5528.5965
Epoch 22/100
6/6 [==============================] - 0s 2ms/step - loss: 46474737.1429 - mae: 5035.4323
Epoch 23/100
6/6 [==============================] - 0s 3ms/step - loss: 38194963.1429 - mae: 4483.1560
Epoch 24/100
6/6 [==============================] - 0s 3ms/step - loss: 54481753.7143 - mae: 5405.6985
Epoch 25/100
6/6 [==============================] - 0s 2ms/step - loss: 42521976.5714 - mae: 5141.4358
Epoch 26/100
6/6 [==============================] - 0s 2ms/step - loss: 42166636.5714 - mae: 4782.7971
Epoch 27/100
6/6 [==============================] - 0s 2ms/step - loss: 49628082.8571 - mae: 4980.6221
Epoch 28/100
6/6 [==============================] - 0s 3ms/step - loss: 51383413.7143 - mae: 5189.0649
Epoch 29/100
6/6 [==============================] - 0s 2ms/step - loss: 45240755.4286 - mae: 4722.7354
Epoch 30/100
6/6 [==============================] - 0s 2ms/step - loss: 42080312.0000 - mae: 4693.4380
Epoch 31/100
6/6 [==============================] - 0s 3ms/step - loss: 45974068.0000 - mae: 4691.7425
Epoch 32/100
6/6 [==============================] - 0s 2ms/step - loss: 47322633.1429 - mae: 4863.2892
Epoch 33/100
6/6 [==============================] - 0s 2ms/step - loss: 35304230.5714 - mae: 4331.4485
Epoch 34/100
6/6 [==============================] - 0s 2ms/step - loss: 46836409.7143 - mae: 4912.3232
Epoch 35/100
6/6 [==============================] - 0s 3ms/step - loss: 38197332.0000 - mae: 4669.5467
Epoch 36/100
6/6 [==============================] - 0s 2ms/step - loss: 31192107.7143 - mae: 4141.5089
Epoch 37/100
6/6 [==============================] - 0s 3ms/step - loss: 42751782.8571 - mae: 4548.2727
Epoch 38/100
6/6 [==============================] - 0s 3ms/step - loss: 33469861.7143 - mae: 4238.6118
Epoch 39/100
6/6 [==============================] - 0s 2ms/step - loss: 40053191.4286 - mae: 4717.3645
Epoch 40/100
6/6 [==============================] - 0s 2ms/step - loss: 37012059.7143 - mae: 4545.4032
Epoch 41/100
6/6 [==============================] - 0s 2ms/step - loss: 36080838.8571 - mae: 4166.6725
Epoch 42/100
6/6 [==============================] - 0s 3ms/step - loss: 33015559.7143 - mae: 4033.8254
Epoch 43/100
6/6 [==============================] - 0s 3ms/step - loss: 27846247.8571 - mae: 3904.5541
Epoch 44/100
6/6 [==============================] - 0s 3ms/step - loss: 31242622.5714 - mae: 4001.7660
Epoch 45/100
6/6 [==============================] - 0s 2ms/step - loss: 38906578.0000 - mae: 4325.6559
Epoch 46/100
6/6 [==============================] - 0s 2ms/step - loss: 26623149.7143 - mae: 3631.6138
Epoch 47/100
6/6 [==============================] - 0s 2ms/step - loss: 27285802.5714 - mae: 3825.0251
Epoch 48/100
6/6 [==============================] - 0s 2ms/step - loss: 27968790.0000 - mae: 4001.3084
Epoch 49/100
6/6 [==============================] - 0s 3ms/step - loss: 26490841.4286 - mae: 3663.8244
Epoch 50/100
6/6 [==============================] - 0s 2ms/step - loss: 23918747.1429 - mae: 3372.8500
Epoch 51/100
6/6 [==============================] - 0s 2ms/step - loss: 23988069.7143 - mae: 3639.9979
Epoch 52/100
6/6 [==============================] - 0s 3ms/step - loss: 27192432.0000 - mae: 3497.4761
Epoch 53/100
6/6 [==============================] - 0s 3ms/step - loss: 25520091.1429 - mae: 3207.1889
Epoch 54/100
6/6 [==============================] - 0s 2ms/step - loss: 23745099.4286 - mae: 3090.7319
Epoch 55/100
6/6 [==============================] - ETA: 0s - loss: 24117660.0000 - mae: 3389.306 - 0s 2ms/step - loss: 25285811.1429 - mae: 3347.4815
Epoch 56/100
6/6 [==============================] - 0s 3ms/step - loss: 23697732.2857 - mae: 3429.9683
Epoch 57/100
6/6 [==============================] - 0s 3ms/step - loss: 20077094.5714 - mae: 3073.8737
Epoch 58/100
6/6 [==============================] - 0s 3ms/step - loss: 20644497.0000 - mae: 3015.0794
Epoch 59/100
6/6 [==============================] - 0s 2ms/step - loss: 23057674.2857 - mae: 3309.9843
Epoch 60/100
6/6 [==============================] - 0s 2ms/step - loss: 20998735.1429 - mae: 3163.3463
Epoch 61/100
6/6 [==============================] - 0s 2ms/step - loss: 18189816.4286 - mae: 2831.6218
Epoch 62/100
6/6 [==============================] - 0s 3ms/step - loss: 23836826.5714 - mae: 3188.9984
Epoch 63/100
6/6 [==============================] - 0s 2ms/step - loss: 20816178.7143 - mae: 3124.6525
Epoch 64/100
6/6 [==============================] - 0s 3ms/step - loss: 21670606.5714 - mae: 3273.8086
Epoch 65/100
6/6 [==============================] - 0s 3ms/step - loss: 26178573.7143 - mae: 3472.0681
Epoch 66/100
6/6 [==============================] - 0s 3ms/step - loss: 22015392.5714 - mae: 3030.0254
Epoch 67/100
6/6 [==============================] - 0s 2ms/step - loss: 23537512.2857 - mae: 3124.2234
Epoch 68/100
6/6 [==============================] - 0s 2ms/step - loss: 21218613.1429 - mae: 2981.9457
Epoch 69/100
6/6 [==============================] - 0s 2ms/step - loss: 21976760.2857 - mae: 3066.6705
Epoch 70/100
6/6 [==============================] - 0s 3ms/step - loss: 21666771.7143 - mae: 3307.7429
Epoch 71/100
6/6 [==============================] - 0s 3ms/step - loss: 23741723.1429 - mae: 3305.6144
Epoch 72/100
6/6 [==============================] - 0s 2ms/step - loss: 22220443.7143 - mae: 2966.4695
Epoch 73/100
6/6 [==============================] - 0s 2ms/step - loss: 20956241.1429 - mae: 3039.9470
Epoch 74/100
6/6 [==============================] - 0s 2ms/step - loss: 21844955.4286 - mae: 3144.8209
Epoch 75/100
6/6 [==============================] - 0s 3ms/step - loss: 22085459.4286 - mae: 3169.6178
Epoch 76/100
6/6 [==============================] - 0s 3ms/step - loss: 20586260.2857 - mae: 2880.6562
Epoch 77/100
6/6 [==============================] - 0s 3ms/step - loss: 23720272.0000 - mae: 3220.2347
Epoch 78/100
6/6 [==============================] - 0s 3ms/step - loss: 25242866.0000 - mae: 3425.4302
Epoch 79/100
6/6 [==============================] - 0s 2ms/step - loss: 17638831.0000 - mae: 2896.1117
Epoch 80/100
6/6 [==============================] - 0s 2ms/step - loss: 17908967.2857 - mae: 2991.2927
Epoch 81/100
6/6 [==============================] - 0s 3ms/step - loss: 20279773.1429 - mae: 3203.8710
Epoch 82/100
6/6 [==============================] - 0s 3ms/step - loss: 18945171.2857 - mae: 2926.2644
Epoch 83/100
6/6 [==============================] - 0s 2ms/step - loss: 20881862.2857 - mae: 2983.0087
Epoch 84/100
6/6 [==============================] - 0s 2ms/step - loss: 20820211.1429 - mae: 3145.8434
Epoch 85/100
6/6 [==============================] - 0s 2ms/step - loss: 23967018.0000 - mae: 3116.5931
Epoch 86/100
6/6 [==============================] - 0s 2ms/step - loss: 26446214.2857 - mae: 3188.7543
Epoch 87/100
6/6 [==============================] - 0s 2ms/step - loss: 26777606.8571 - mae: 3214.2472
Epoch 88/100
6/6 [==============================] - 0s 2ms/step - loss: 22463545.1429 - mae: 2969.3439
Epoch 89/100
6/6 [==============================] - 0s 2ms/step - loss: 20917784.0000 - mae: 3036.7540
Epoch 90/100
6/6 [==============================] - 0s 3ms/step - loss: 19753107.5714 - mae: 2864.2561
Epoch 91/100
6/6 [==============================] - 0s 3ms/step - loss: 20738471.7143 - mae: 2984.1846
Epoch 92/100
6/6 [==============================] - 0s 3ms/step - loss: 20572309.7143 - mae: 3169.3485
Epoch 93/100
6/6 [==============================] - 0s 3ms/step - loss: 21157253.4286 - mae: 3022.3006
Epoch 94/100
6/6 [==============================] - 0s 2ms/step - loss: 23951288.8571 - mae: 3080.2671
Epoch 95/100
6/6 [==============================] - 0s 2ms/step - loss: 16081150.9286 - mae: 2691.2812
Epoch 96/100
6/6 [==============================] - 0s 3ms/step - loss: 21125042.0000 - mae: 3395.5028
Epoch 97/100
6/6 [==============================] - 0s 2ms/step - loss: 19578455.4286 - mae: 3328.4835
Epoch 98/100
6/6 [==============================] - 0s 2ms/step - loss: 19420312.8571 - mae: 2854.0809
Epoch 99/100
6/6 [==============================] - 0s 3ms/step - loss: 21471337.5714 - mae: 2972.1762
Epoch 100/100
6/6 [==============================] - 0s 3ms/step - loss: 19608712.2857 - mae: 2887.9959

#### For testing

In [61]:
print(X_test.shape, np.asarray(y_test.shape) )

(41, 36) [41]

In [62]:
index = 10
# X_test.head()
ans = model.predict( X_test[index-1:index] )
print( ans, np.asarray(y_test[index-1:index]) )

[[11272.241]] [10245.]